/* IMPORTS */

//@import url(font-awesome.min.css);
// variables
@import "variables";
//bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
//material design bootstrap
//@import "../node_modules/mdbootstrap/scss/mdb";
// barrio
@import "barrio";
// typography
@import "typography";
// mixins
@import "mixins";

//Additional scss by Drupal.Tube team
@import "misc";
@import "./components/callout-block";
@import "./components/node-featured-teaser";
@import "./components/footer";
