// multiple recent video teasers
.view-id-recently_added_videos.view-display-id-block_1 .views-row, .view-id-recently_added_videos.view-display-id-page_1 .views-row {
    margin-right: 0;
    width: 338px;
    padding: 0 9px;
    h2 {
      font-size: 1.2em;
    }
}

// Recently Added (featured?) Videos View
.recent {
  background-color: $bg-color;
}
.recent-video-view.view-display-id-block_2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 394px;
  margin-top: 25px;
  .block__title {
      @include font-size(36px, 41px);
      @include heading-font(500);
      color: $black;
      text-align: left;
      margin-left: 48px;
    }
  .view-name {
    a {
      @include open-sans-font(700);
      @include font-size(18px, 25px);
      color: $black;
      text-align: left;
      text-transform: none;
    }
  }
  .speaker {
    @include open-sans-font(600);
    @include font-size(14px, 19px);
    text-align: left;
    text-transform: uppercase;
    color: $light-gray;
  }
  .row {
    flex-wrap: nowrap;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  .views-row {
    margin-right: 20px;
  }
}

h1 {
	font-size: $font-size-h1;
	}

h2 {
	font-size: $font-size-h2;
}

h1, h2 {
	font-family: $font-family-header;
	font-weight: 400;
}

h3 {
	font-size: $font-size-h3;
	font-weight: 700;
}
h4 {
	font-size: $font-size-h4;
	font-weight: 700;
}

h5 {
	font-size: $font-size-h5;
	font-weight: 600;
}
h6 {
	font-size: $font-size-h6;
	font-weight: 400;
}

h3, h4, h5, h6 {
	font-family: $font-opensans;
}

// Featured Video Section

.layout__region--first .node-featured-teaser, .layout__region--second .node-featured-teaser, .layout__region--third .node-featured-teaser{
   position: relative;
  .featured-title {
    position: absolute;
    top: 0;
    left: 301px;
  a {
    font-family: $font-opensans;
    font-size: 14px;
    text-transform: uppercase;
    color: $light-gray;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }
}
.featured-video-title {
   margin-left: 53px;
  a {
    font-family: $font-family-header;
    font-weight: 400;
    @include font-size(36px, 41px);
    color: $black;
  }
}
.video-desc {
  margin-left: 55px;
  font-family: $font-ubuntu;
  @include font-size(20px, 23px);
}
.video-thumbnail {
  margin-left: 55px;
  margin-top: 16px;
}
.speaker {
  margin-top: 22px;
  margin-left: 55px;
  @include open-sans-font(700);
  @include font-size(18px, 25px);
  color: $black;
  text-align: left;
  text-transform: none;
}
.conference {
  a {
    margin-left: 55px;
    margin-top: 29px;
    @include open-sans-font(600);
    @include font-size(14px, 19px);
    text-align: left;
    text-transform: uppercase;
    color: $light-gray;
  }
}
}

// Contact Form

.contact-form {
  .section {
    background-color: white;
    position: relative;
  }
  span.field--name-title {
    font-family: $font-ubuntu;
    font-weight: 400;
    @include font-size(36px, 41px);
    color: $blue-background;
    margin-left: 21%;
    @media(min-width: 633px) {
      .title {
        margin-left: 30%;
      }
    }
  }

  hr.webform-horizontal-rule--solid {
    width: 16%;
    height: 1px;
    margin: 10px auto;
  }
  margin-left: 12%;
  @media(min-width: 905px) {
    .contact-form {
      margin-left: 5%;
    }
  }
  p {
    margin-bottom: 0;
    text-align: center;
    font-family: $font-opensans;
    font-size: 15px;
    color: $lighter-gray;
  }
    input[type = "text"],
    input[type = "email"],
    input[type = "tel"],
    input[type = "search"] {
      border-bottom: 2px solid $light-grayish;
      }
}

// Conference page
.node--type-conference {
  ol.breadcrumb {
   margin: 0;
  }
  .node__content {
    margin-top: 0;
  }
  div#block-tube-theme-page-title h1.title, div#block-tube-theme-page-title .field--type-string.field--name-title {
    display: none;
  }
  .wrapper-highlight.layout--onecol.layout-dt {
    background-size: cover;
    background-position: center;
  }
}

// Contact form stying

.contact-form {

  span.select2-selection.select2-selection--multiple {
    border: 1px solid $light-grayish;
    border-bottom: 2px solid $light-grayish;
  }
  #edit-message {
    border-bottom: 2px solid $light-grayish;
  }
  #edit-actions-preview-next{
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 30px;
    &.btn-primary {
      color: $white;
      width: 30%;
      background-color: $blue-background;
      font-family: $font-opensans;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      &:hover {
        background-color: $yellowish;
        border: 1px solid $yellowish;
      }
    }
  &.btn {
    font-size: 20px;
    border: 1px solid $blue-background;
    line-height: 1.7;
    border-radius: 0.45rem;
    }
  }
  #edit-actions-submit {
    margin-top: 30px;
    &.btn-primary {
      color: $white;
      width:60%;
      background-color: $blue-background;
      font-family: $font-opensans;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      &:hover {
        background-color: $yellowish;
        border: 1px solid $yellowish;
      }
    }
    &.btn {
      font-size: 20px;
      border: 1px solid $blue-background;
      line-height: 1.7;
      border-radius: 0.45rem;
    }
  }
  .g-recaptcha {
    margin-top: 6%;
    display: flex;
    justify-content: center;
  }

  input::-webkit-input-placeholder {
    font-family: $font-opensans;
    color: $lighter-gray !important;
    font-size: 14px;
  }
  textarea::-webkit-input-placeholder {
    font-family: $font-opensans;
    color: $lighter-gray !important;
    font-size: 14px;
  }

  .layout-content-second-contact {
    margin-top: 200px;
    text-align: center;
    @media(min-width: 633px) {
      .layout-content-second-contact {
        margin-top: 50px;
      }
    }
    a {
      @include font-size(23px, 21px);
      @include heading-font(300);
      color: $dark-blue;
      font-family: $font-ubuntu;
      letter-spacing: 0.6px;
      @media(min-width: 1288px) {
        a {
          @include font-size(15px, 21px)
        }
      }
      @media(min-width: 1057px) {
        a {
          @include font-size(12px, 21px)
        }
      }
      @media(min-width: 750px) {
        a {
          @include font-size(11px, 21px)
        }
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
} 

// Contact social icon

.contact-social-title {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
  font-family: $font-ubuntu;
  font-weight: 400;
  text-transform: uppercase;
  @include font-size(16px, 21px);
  color: $dark-blue;
  &.svg-inline--fa {
    height: 2em;
    margin-right: 8px;
    font-size: 25px;
    a {
      color: #0D7DC1;
      &:hover {
        background: $yellowish;
      }
    }
  }
}
