// Recently Added Videos View

.recent {
  background-color: $bg-color;
}
.recent-video-view {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 394px;
  margin-top: 25px;
}
.block__title {
    @include font-size(36px, 41px);
    @include heading-font(500);
    color: $black;
    text-align: left;
    margin-left: 48px;
  }
.view-name {
  a {
    @include open-sans-font(700);
    @include font-size(18px, 25px);
    color: $black;
    text-align: left;
    text-transform: none;
  }
}
.speaker {
  @include open-sans-font(600);
  @include font-size(14px, 19px);
  text-align: left;
  text-transform: uppercase;
  color: $light-gray;
}
.row {
  flex-wrap: nowrap;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.views-row {
  margin-right: 20px;
}

h1 {
	font-size: $font-size-h1;
	}

h2 {
	font-size: $font-size-h2;
}

h1, h2 {
	font-family: $font-family-header;
	font-weight: 400;
}

h3 {
	font-size: $font-size-h3;
	font-weight: 700;
}
h4 {
	font-size: $font-size-h4;
	font-weight: 700;
}

h5 {
	font-size: $font-size-h5;
	font-weight: 600;
}
h6 {
	font-size: $font-size-h6;
	font-weight: 400;
}

h3, h4, h5, h6 {
	font-family: $font-opensans;
}

// Featured Video Section

.node-featured-teaser {
   position: relative;
   background-color: $featured-background;
   height: 670px;
}
.featured-title {
    position: absolute;
    top: 0;
    left: 301px;
  a {
    font-family: $font-opensans;
    font-size: 14px;
    text-transform: uppercase;
    color: $light-gray;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }
}
.featured-video-title {
   margin-left: 53px;
  a {
    font-family: $font-family-header;
    font-weight: 400;
    @include font-size(36px, 41px);
    color: $black;
  }
}
.video-desc {
  margin-left: 55px;
  font-family: $font-ubuntu;
  @include font-size(20px, 23px);
}
.video-thumbnail {
  margin-left: 55px;
  margin-top: 16px;
}
.speaker {
  margin-top: 22px;
  margin-left: 55px;
  @include open-sans-font(700);
  @include font-size(18px, 25px);
  color: $black;
  text-align: left;
  text-transform: none;
}
.conference {
  a {
    margin-left: 55px;
    margin-top: 29px;
    @include open-sans-font(600);
    @include font-size(14px, 19px);
    text-align: left;
    text-transform: uppercase;
    color: $light-gray;
  }
}
