/* TYPOGRAPHY */


/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
//@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
//@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.1/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.0.6/js/all.js");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Ubuntu:400,500");

// font families
//$font-lato: 'Lato',
//Arial,
//Verdana,
//sans-serif;
//$font-raleway: 'Raleway',
//Arial,
//Verdana,
//sans-serif;

$font-ubuntu: 'Ubuntu',
Arial,
Verdana,
sans-serif;

$font-opensans: 'Open Sans',
Arial,
Verdana,
sans-serif;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
$font-opensans,
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;

$font-ubuntu: 'Ubuntu',
sans-serif;
$font-opensans: 'Open Sans',
sans-serif;

$font-family-header: $font-ubuntu;
$font-family-base: $font-opensans;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

//New values
$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2.33rem;
$font-size-h4: 2rem;
$font-size-h5: 1.33rem;
$font-size-h6: 1.33rem;
