/* TYPOGRAPHY */


/* Google Fonts */

//@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
//@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Ubuntu:500');

// font families
// $font-lato: 'Lato',
// Arial,
// Verdana,
// sans-serif;
// $font-raleway: 'Raleway',
// Arial,
// Verdana,
// sans-serif;

$font-ubuntu: 'Ubuntu',
Arial,
Verdana,
sans-serif;
$font-opensans: 'Open Sans',
Arial,
Verdana,
sans-serif;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
$font-opensans,
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;

//h1 h2 font face variable
$font-family-header: $font-ubuntu;

$font-family-base: $font-opensans;


$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.4375rem; //23px
$font-size-h1: 4rem; //48pt
$font-size-h2: 3rem; //36pt
$font-size-h3: 2.333rem; //28px
$font-size-h4: 1.55rem; //24px
$font-size-h5: 1.33rem; //16px
$font-size-h6: 1.33rem; //16px

// overrides
body {
	font-family: $font-family-base;
}

h1 {
	font-size: $font-size-h1;
	}

h2 {
	font-size: $font-size-h2;
}

h1, h2 {
	font-family: $font-family-header;
	font-weight: 400;
}

h3 {
	font-size: $font-size-h3;
	font-weight: 700;
}
h4 {
	font-size: $font-size-h4;
	font-weight: 700;
}

h5 {
	font-size: $font-size-h5;
	font-weight: 600;
}
h6 {
	font-size: $font-size-h6;
	font-weight: 400;
}

h3, h4, h5, h6 {
	font-family: $font-opensans;
}