{%
  set classes = [
    'layout',
    'layout-childreset',
    'layout--onecol',
    'layout-dt',
    'row',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', 'col') }}>
      {% if settings.highlight  is same as( 'highlight' ) %}
        <div class="highlighted">
      {% endif %}
      {{ content.content }}
      {% if settings.highlight  is same as( 'highlight' ) %}
        </div>
      {% endif %}

    </div>
  {% endif %}
</div>
