{%
  set classes = [
    'layout',
    'layout-childreset',
    'layout--onecol',
    'layout-dt',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content %}
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      {{ content.content }}
    </div>
  {% endif %}
</div>
