{%
  set classes = [
    'layout',
    'layout-childreset',
    'layout--onecol',
    'layout-dt',
    'row',
  ]
%}
{% if background_image_url is not empty %}
  {% set styles = ' style=background-image:url(\'' ~ background_image_url ~ '\')' %}
{% else %}
  {% set styles= '' %}
{% endif %}

<div{{ attributes.addClass(classes) }}{{ styles }}>
  {% if content %}
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', 'col') }}>
      {% if settings.highlight  is same as( 'highlight' ) %}
        <div class="highlighted col col-md-9 col-lg-8">
      {% endif %}
      {{ content.content }}
      {% if settings.highlight  is same as( 'highlight' ) %}
        </div>
      {% endif %}

    </div>
  {% endif %}
</div>
