
<div class="layout layout--twocol two-column-bg-color">
    <div class="layout_styling layout__region--first">
        <div class="first-block">
            {{ content.first }}   
        </div>
    </div>
    
    <div class='layout_styling layout__region--second'>
        <div id="second-block">  
            {{ content.second }}         
        </div>

    </div>
</div>