.block-callout {
	position: relative;
	height: 430px;
	width: 430px;	
	border-radius: 50%;
	color: transparent;
	margin-left: $m-40;

	&.callout-Green {
		background-color: $green;
	}

	&.callout-Orange {
		background-color: $orange;
	}

	&.callout-Blue {
		background-color: $blue;
	}

	h2 {
		@include body-font;
		font-size: $font-size-h2;
	}
}