.node-featured-teaser {
	p {
		color: #000000;
		font-size: 1.25em;
	}
	.featured-author {
		color: $black;
		font-size: 1.125em;
	}
	.field__item {
		float: none;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;	
		}
	}
	.field--type-datetime {
		font-weight: bold;
	}
	.featured-title {
		position: unset;
		text-align: center;
	}
	.views-row {
		margin-right: 0;
	}
	.node {
		.field--type-image {
			margin: 0;
		}
	}
}

h2.featured-title {
	font-size: 2.25em;
	color: $black;
}
