.node-featured-teaser {
	background-color: $featured-background;
	p {
		color: #000000;
		font-size: 1.25em;
	}
	.featured-author {
		color: $black;
		font-size: 1.125em;
	}
}

h2.featured-title {
	font-size: 2.25em;
	color: $black;
}