/**
 * @file
 * Styles for Bootstrap Barrio page.
 */

.block-field-blockmediaexternal-videofield-media-video-embed-field {
    background-color: $featured-background;
}
.video-landing {
	font-family: $font-ubuntu;
	margin-bottom: 30px;
	
	.content {
		width: 80%;
		margin: 0 auto;
	}

	.field--name-name {
		padding-top: 20px;
		font-size: $font-size-h2;
	}

	.field--name-field-description {
		font-size: $font-size-base;
		line-height: 1.4rem;
	}

	.block-field-blockmediaexternal-videoname, 
	.block-field-blockmediaexternal-videofield-description,
	.block-field-blockmediaexternal-videouid {
		background-color: $gray-100;
	}

	.author-byline, .author-byline a {
		font-weight: bold;
		color: $dark-blue;
	}

	.author-byline {
		padding: 10px 0 20px 0;
		a {
			text-decoration: none;
		}
	}
	
	.block-field-blockmediaexternal-videofield-video-category {
	    .field--name-field-video-category {
	        display: flex;
	        
	        .field__item {
	            margin-right: 10px;
                background: #1f79c1;
                padding: 2px 5px;
                border-radius: 2px;
                box-shadow: 1px 1px 2px rgba(0,0,0,0.5);

                a {
                    color: #ffffff;
                    text-decoration: none;
                }
	        }
	    }
	}
	
	.block-field-blockmediaexternal-videofield-conference {
	    
	    .field--name-field-conference {
            a {
                color: #ffffff;
                text-decoration: none;
                margin-right: 10px;
                background: #0c538c;
                padding: 5px 15px;
                border-radius: 2px;
                box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
            }
	    }
	}

	@media (max-width: 899px) {
		.field--name-name {
			font-size: $font-size-h3;
		}
		.author-byline {
			padding: 5px 0 10px 0;
		}
	}

	@media (max-width: 690px) {
		.field--name-name {
			font-size: $font-size-h5;
		}
	}
}